#gameState {
    text-align: center;
}

#game {
    width: 35%;
    margin: auto;
}

.square {
    border: 5px solid #000000;
    display: inline-block;
    height: 135px;
}

.flex-container {
    display: flex;
    justify-content: center;
    min-width: 500px;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 135px;
    text-align: center;
}