body {
    background-color: #c73b91;
    color: #FFFFFF;
}

#form {
    margin: auto;
    margin-top: 5%;
    background-color: #9c2970;
    padding: 20px;
    width: 350px;
}

#form h2 {
    text-align: center;
}

#result {
    background-color: #6b234f;
    text-align: center;
    font-size: 135%;
    letter-spacing: 1px;
    height: 26px;
    padding: 10px;
}

.option {
    font-size: 125%;
    margin-bottom: 5%;
}

.option input {
    float: right;
}

#generate {
    background-color: #6b234f;
    color: #FFFFFF;
    width: 100%;
    height: 35px;
    padding: 0;
    border: none;
}